<!-- <html> -->
  <!-- <body> -->
    <!-- <footer class="p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 fixed bottom-0 left-0 right-0">
      <span class="text-sm text-gray-400 sm:text-center dark:text-gray-300">&copy; 2022 <a href="/" class="hover:text-blue">getForks</a>
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-400 dark:text-gray-300 sm:mt-0">
          <li>
              <a href="About" class="mr-4 hover:text-blue md:mr-6 ">About</a>
          </li>
          <li>
              <a href="https://github.com/ned-park/getForks" class="hover:text-blue">Github</a>
          </li>
      </ul>
  </footer> -->
  <script src="../js/main.js"></script>
  </body>
</html>