<header class="header flex">
  <a href="/">
    <% if (!user) { %>
      <h1 data-user="null">getForked</h1>
    <% } else { %>
      <h1 data-user="<%=user.username%>">getForked</h1>
    <% } %>
  </a>
  <nav>
      <a href="/" class="headerLink">Home</a>
      <a href="<%=user? `/${user.username}` : `/login`%>" class="headerLink">Recipes</a>
      <a href="/about" class="headerLink">About</a>
      <% if (!user) { %>
        <a href="/login" class="headerLink">Log in</a>
        <a href="/signup" class="headerLink">Sign up</a>
      <% } else { %>
        <a href="/logout" class="headerLink">Log out</a>
    <% } %>
  </nav>
</header>