<header class="header flex vertical-center">
  <a href="/">
    <% if (!user) { %>
      <h1 data-user="null">getForks</h1>
    <% } else { %>
      <h1 data-user="<%=user.username%>">getForks</h1>
    <% } %>
  </a>
  <nav>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
    </label>
    <ul class="menu">
      <li><a href="<%=user? `/${user.username}` : `/login`%>" class="headerLink">myRecipes</a></li>
      <li><a href="/about" class="headerLink">About</a></li>
      <% if (!user) { %>
      <li><a href="/login" class="headerLink">Log in</a></li>
      <li><a href="/signup" class="headerLink">Sign up</a></li>
      <% } else { %>
      <li>  <a href="/logout" class="headerLink">Log out</a></li>
    <% } %>
    </ul>
  </nav>
</header>

