<nav class="relative container mx-auto p-6">
  <!-- Flex container -->
  <div class="flex items-center justify-between">
    <!-- Logo -->
    <div class="pt-2">
      <a href="/">
        <% if (!user) { %>
          <h1 data-user="null" class="text-3xl font-bold text-blue mb-1">getForks</h1>
        <% } else { %>
          <h1 data-user="<%=user.username%>" class="text-4xl font-bold">getForks</h1>
        <% } %>
      </a>
    </div>
    <!-- Menu Items -->
    <div class="hidden space-x-6 md:flex font-bold">
      <a href="<%=user? `/${user.username}` : `/login`%>" class="hover:text-brCyan">myRecipes</a>
      <a href="/about" class="hover:text-brCyan">About</a>
      <% if (!user) { %>
      <a href="/login" class="hover:text-brCyan">Login</a>
      <a href="/signup" class="hover:text-brCyan">Sign up</a>
      <% } else { %>
      <a href="/logout" class="hover:text-brCyan">Logout</a>
    <% } %>
    </div>
    <!-- Button
    <form action="" method="post" class="hidden items-center space-x-2 md:flex">
      <input type="text" placeholder="Type here" class="rounded py-2 px-2 border-2 border-blue  w-full max-w-xs" />
      <a
      href="#"
      class="hidden p-3 px-6 pt-2 text-white bg-brCyan rounded-full baseline hover:bg-brightRedLight md:block"
      >Search</a
    >
    </form> -->
    

    <!-- Hamburger Icon -->
    <button
      id="menu-btn"
      class="block hamburger md:hidden focus:outline-none"
    >
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div class="md:hidden">
    <div
      id="menu"
      class="abute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
    >
    <a href="<%=user? `/${user.username}` : `/login`%>" class="hover:text-brCyan">myRecipes</a>
    <a href="/about" class="hover:text-brCyan">About</a>
    <% if (!user) { %>
    <a href="/login" class="hover:text-brCyan">Log in</a>
    <a href="/signup" class="hover:text-brCyan">Sign up</a>
    <% } else { %>
    <a href="/logout" class="hover:text-brCyan">Log out</a>
  <% } %>
    </div>
  </div>
</nav>
