<nav class="relative mx-auto p-6 bg-black w-full">
  <div class="flex items-center justify-between mx-auto max-w-5xl">
    <div class="pt-2">
      <a href="/">
        <% if (!user) { %>
          <h1 data-user="null" class="text-3xl font-bold text-blue mb-1">getForks</h1>
        <% } else { %>
          <h1 data-user="<%=user.username%>" class="text-3xl font-bold text-blue mb-1">getForks</h1>
        <% } %>
      </a>
    </div>
    <div class="hidden space-x-6 md:flex font-bold">
      <a href="<%=user? `/${user.username}` : `/login`%>" class="text-brCyan hover:text-blue">myRecipes</a>
      <a href="/about" class="text-brCyan hover:text-blue">About</a>
      <% if (!user) { %>
      <a href="/login" class="text-brCyan hover:text-blue">Login</a>
      <a href="/signup" class="text-brCyan hover:text-blue">Sign up</a>
      <% } else { %>
      <a href="/logout" class="text-brCyan hover:text-blue">Logout</a>
    <% } %>
    </div>
    <button
      id="menu-btn"
      class="block hamburger md:hidden focus:outline-none"
      name="menu"
    >
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>


  <div class="md:hidden">
    <div
      id="menu"
      class="abute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
    >
    <a href="<%=user? `/${user.username}` : `/login`%>" class="hover:text-brCyan">myRecipes</a>
    <a href="/about" class="hover:text-brCyan">About</a>
    <% if (!user) { %>
    <a href="/login" class="hover:text-brCyan">Log in</a>
    <a href="/signup" class="hover:text-brCyan">Sign up</a>
    <% } else { %>
    <a href="/logout" class="hover:text-brCyan">Log out</a>
  <% } %>
    </div>
  </div>
</nav>

    
