<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <title>About getForks</title>
</head>
<body  class="bg-white">
    <%- include('partials/header') -%>
    <h2 class="center">An improved approach to recipe sharing and distribution</h2>
    <article class="content-container flex col margin-top-content" >
        <section class="flex vertical-center gap">
            <p><strong>getForks</strong> was born out of a desire to improve the state of recipe sharing and development on the web.  
                Traditional methods of recipe sharing online leave a lot to be desired.  Comment sections
                are filled with modifications and derivations.  Lacking a way of maintain recipe history, people
                modify recipes and lose their history, making it difficult to see how recipes have evolved over 
                time.  <strong>getForks</strong> makes it easy to find, save, modify and share recipes so your attention stays on 
                the food.
            </p>
            <img class="third-width" src="/images/daniela-RELOvb0rrCE-unsplash.jpg" alt="Couscous with a chickpea curry">
            </section>
            <section class="flex vertical-center gap">
            <img class="third-width" src="/images/daniela-RELOvb0rrCE-unsplash.jpg" alt="Couscous with a chickpea curry">
            <p>To improve this situation, <strong>getForks</strong> borrows some ideas from version control software to enable
                users to easily write, save, modify, share and fork recipes from other others.  While this 
                might sound complicated, what it means is that users can easily find their recipes in one 
                convenient (and searchable) spot online, and keep track of the original recipe along with 
                modifications they've made over time.  Best of all, recipes can be shared and copied effortlessly
                by other users so there's no need to write a recipe out for everyone who wants it after dinner.  
            </p>
        </section>
    </article>
</body>
</html>