<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <title>About getForked</title>
</head>
<body>
    <%- include('partials/header') -%>
    <article class="content-container">
        <section>
            <p>getForked was born out of a desire to improve the state of recipe sharing on the web.
                The current state of recipe sharing is one of chaos, millions of sites appear to have 
                recipes, and while decentralization is often a good thing it can make relocating the 
                particular dish made from some jumble of blogs a difficult prospect.  Editing, updating,
                and sharing recipes is also inconvenient as things currently stand.
            </p>
            <p>Admidst this muddle, getForked borrows some ideas from version control software to enable
                users to easily write, save, modify, share and fork recipes from other others.  While this 
                might sound complicated, what it means is that users can easily find their recipes in one 
                convenient (and searchable) spot online, and keep track of the original recipe along with 
                modifications they've made.  
            </p>
            <p>Give it try!</p>
        </section>
    </article>
</body>
</html>