<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>recipeFork - making food better</title>
</head>
<body>
    <%- include('partials/header') -%>
    <h1>Sign in to access, share, and get recipes!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>

    <section>
        <p>The current ways of managing recipes are lacking and incomplete.  recipeFork brings
            the relevant subset of source code version control to the world of food so recipes 
            can be easily copied, saved, modified, and shared without losing track of where they
            came from, enabling rapid development and deployment of recipes and variations of similar
            recipes if desired.
        </p>
    </section>
</body>
</html>